/* Utilitários */

.texto{
    font-weight: bold;
    text-transform: uppercase;
    color: #0D0D0D;
}

.texto-pequeno{
    font-weight: bold;
    color: #0D0D0D;
    font-size: 2em;
    text-transform: uppercase;
}

.texto-grande{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6em;
    color: #0D0D0D;
}

.texto-2{
    text-transform: uppercase;
    font-weight: bold;
    color: #0D0D0D;
}

.texto-sobre{
    margin-left: 10px;
    font-weight: 400;
    text-align: center;
    color: #0D0D0D;
}



.branco{ 
    background-color: #0D0D0D;
}

.arredondamento{
    border-radius: 18px;
    padding: 2px;
}



/* Animações */
.animacao-mouse:hover{
    margin: 18px;
    scale: 20px;
    transition: 2s;
}
/* Header */
.fixado{
    background-color: #d9d9d93c;
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    z-index: 1000;
}

/* Main */



.estilizacao-container-sobre{
    box-shadow: 0 2px 4px 2px rgb(67, 65, 65);
}

.estilizacao-container-contato{
    box-shadow: 0 2px 4px 2px rgb(67, 65, 65);
}

.titulo-projetos{
    text-transform: uppercase;
    font-weight: 400;
}

/* Minha foto */
.minha-foto{
    border-radius: 10em;
    box-shadow: 1px 1px 6px 1px #404040;
}

/* Aside */
.cor-fundo{
    background-image: linear-gradient(white 50%, #A6A6A6 50%);
}

.caixa{
    background-color:rgba(89, 89, 89, 0.637);
    border-radius: 0 0 0 0;
}

.teste{
    background-color: aqua;
}

/* Fale Comigo */

.hr-aside{
    height: 1px;
    background-color: black;
}

.texto-contato{
    font-size: 1.2em;
    color: #0D0D0D;
    text-transform: uppercase;
}

.nomeCampos{
    font-size: 1.4em;
    color: #0D0D0D;
    text-transform: uppercase;
    font-weight: bold;
}

.campoTexto{
    width: 26%;
    height: 50%;
}

.campoTextoCx{
    width: 41%;
    height: 50%;
}

.botaoEnviar{
    width: 10%;
    height: 50%;
    padding: .6em;
    border-radius: .2em;
    color: white;
    background-color: #0D0D0D;
    font-weight: bold;
}

/* footer */

#footer-box{
    margin-top: 1em;
    background-color: #0D0D0D;
}

.texto-preto{
    color: #0D0D0D;
}



/* Sessão skills */

.texto-upper{
    text-transform: uppercase;
    font-weight: bold;
    color: #0D0D0D;
}

.col-caixa{
    background: #0D0D0D;
    color: white;
    box-shadow: 1px 1px 10px 2px #404040;
    padding: 18px;

    transition: 2s;
}

.col-caixa:hover{
    padding: 56px;

    transition: 2s;
}



.hr-personalizado{
    background: #A6A6A6;
    height: 2px;
    margin: 18px 0 18px 0;
}

.li-skills{
    list-style: circle;
}

.img-caixa{
    color: white;
    box-shadow: 1px 1px 10px 1px #404040;
}

.texto-upper-projetos{
    text-transform: uppercase;
    font-weight: bold;
    color: #0D0D0D;
}